//COLORS
$color-primary-green: #20b82898;
$color-primary-blue: #1967cc83;

$color-green:#20b828;
$color-blue: #1967cc;
$color-black: #000000;
$color-white: #fff;


$color-yellow: #ffb900;
$color-orange: #ff7730;

$color-green-dark: #0d3f10;

$color-blue-light: #2998ff;
$color-purple: #5643fa;

$color-grey: #777;
$color-grey-dark: #999;
$color-grey-dark-1: #333;
$color-grey-light: #f7f7f7;
$color-grey-light-1: #eee;


//Font size
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;    //for tab-port grid gutter
$gutter-horizontal: 6rem;